<div class="container" masonry [options]="masonryOptions" [useImagesLoaded]="true">
  <ng-container *ngFor="let i of images">
    <div class="brick" masonry-brick>
      <img [src]="i" />
    </div>
  </ng-container>
</div>
